
@{
    ViewData["Title"] = "ReadJson";
}

<h2>ReadJson</h2>

<h3>@ViewBag.Message</h3>
<h4>@ViewBag.Config1</h4>
<h4>@ViewBag.Config2</h4>
<h4>@ViewBag.Config3</h4>
<h4>@ViewBag.ConnectionString</h4>